<script async src="https://metrics.erratic.cloud/tracker.js" data-ackee-server="https://metrics.erratic.cloud" data-ackee-domain-id="c8274978-1df0-4566-b771-4247f1983570" data-ackee-opts='{ "detailed": true }'></script>

<script src="/jquery.min.js"></script>

<script>
    $(function() {
        $("a").each(function(_, el) {
            var addr = $(el).attr("href");
            if (addr.startsWith("mailto:")) {
              addr = addr.replace("%20at%20","@").replaceAll("%20dot%20", ".");
              $(el).find(".mail-addr").text(addr.substr(7));
              $(el).attr("href", addr);
            }
        });
    });
</script>    
